/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

/*Parent Item of both the picture and the description*/
.portfolio-item {

	/*Move Camera back far enough to allow the flip effect to be seen*/
	-webkit-perspective: 500px;

	/*Make a relative position so that the .front .back classes collapse to this location*/
	position: relative;
	width: 200px;
	height: 200px;
}

/*Tells the image to collapse to the portfolio-item and render on Top*/
.front {

	/*Make this rotate in 1 second and not be visible when facing backwards*/
	-webkit-transition: -webkit-transform 1s;
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/*Tells the image to collapse to the portfolio-item and render on Below the .front*/
.back {
	/*Make this rotate in 1 second and not be visible when facing backwards*/
	-webkit-transition: -webkit-transform 1s;
	-webkit-backface-visibility: hidden;

	/*Begin this facing backwards*/
	-webkit-transform: rotateY(180deg);

	position: absolute;
	top: 0;
	left: 0;
}



/*Create flip affect when hovering over the .front*/
.portfolio-item:hover .front{
	-webkit-transform:rotateY(180deg);
}

/*Create flip affect when hovering over the .back*/
.portfolio-item:hover .back{
	-webkit-transform: rotateY(360deg);
}