#new-carousel {
	background-color: #888;
	margin-bottom: 3em;
}


.item {
	height: 400px;
	margin-bottom: 1.5em;
}

.carousel-sub {
	margin-bottom: 2em;
}

.gray-light {
	color: #777;
}


@media all and (max-width: 765px) {

	.img-caption {
		font-size: 1em;
	}

	.img-header {
		font-size: 1.5em;
	}

}

