/* ADD YOUR STYLES HERE */

.horizontal-space {
	/*width: 100%;*/
	margin: auto;
	text-align: center;

}

.horizontal-space > * {
	margin: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}