/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				CONTAINING ELEMENTS
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Set the box size to include the padding and border*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*Align Text to the center of the page*/
.container {
	width: 100%;
	padding: 1em 20%;
}

/*Underline the section headers*/
.underliner {
	text-align: center;
}

.centered-container {
	text-align: center;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				TITLE SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Title container*/
.title-section {
	background-color: #AA6EAA;
	border: 1em solid #000;
}

/*Underline the title text*/
.title-section .underliner {
		border-bottom: .2em solid #AAA;
}


/*The title text*/
.title {
	color: #AAA;
	font-size: 1.25em;
	padding-bottom: .2em;
	/*margin: auto;*/
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				ADD QUOTE AREA
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Container for where quotes can be added*/
.add {
	background-color: #6EAA6E;
	text-align: center;
}


/*OPTIONAL CLASS FOR ONCE THE USER SCROLLS*/
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	witdh: 100%;
}

#quote-form {
	display: none;
}
/**/
.horizontal {
	display: inline-block;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				SECTIONS
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Customize padding and dimensions of headers*/
.section-head {
	/*margin: 0;*/
	padding: .5em 0 .1em 0;
}

/*Give a background color to where the ranked quotes go*/
.main-body {
	background-color: #AA6E6E;
}


#quote-form input, #quote-form textarea {
	display: block;
	margin: auto;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				LISTS
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Remove Default Style for ul*/
.unstyled {
	list-style-type: none;
	padding: 0;
	/*display: inline-block;*/
}

.unstyled li {
	padding-left: 0;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				TEMPLATES
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Keep all templates hidden*/
.hidden {
	display: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				POPUP
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*Keep all templates hidden*/
.popup-container {
	width: 100%;
	position: fixed;
	top: 50%;
	text-align: center;
}

.popup-box {
	background-color: #CCC;
	margin: auto;
	padding: 1em;
	display: inline-block;
}


.grey {
	background-color: rgba(100, 100, 100, .5);
	position: fixed;
	display: none;

	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
				FONT STYLING
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.italics {
	font-style: italic;
}


.author {
	font-size: .8em;
}
