script#fb-template(type="text/x-handlebars-template").

	{{#each data}}
		<div class="fb-status post template-post centering" data-post-id="" id="">
			<div class="col post-head">
				<div class="col-sm-4 col-xs-12 inline-block post-icons">
					<ul class="list-unstyled list-inline media-list">
						<!-- Template -->
						<li id="icon-template" class="template"><i class="icon media-circle-xs fa"></i></li>
						<li class="btn-group dropup minus-media-xs" id="">
							<h4 class="btn dropdown-toggle" data-toggle="dropdown"><span class="icon inline-block no-mgn"><i class="fa fa-minus-circle"></i></span></h4>

							<!-- REMOVE icons -->
							<div id="" class="dropdown-menu relative" role="menu">
								<div class="media inline-block">
									<ul class="list-unstyled list-inline text-right alter-media-list">
									
									<!-- MEDIA ALREADY VIBED GOES HERE -->
										<li><i class="icon icon-btn facebook media-circle-md fa fa-facebook"></i></li>
										<li><button type="button" class="re-vibe btn btn-success btn-circle-xs">V</button></li>
									</ul>
								</div>
							</div>
						</li>

						<li class="btn-group dropup add-media-xs" id="">
							<h4 class="btn dropdown-toggle" data-toggle="dropdown"><span class="icon inline-block no-mgn"><i class="fa fa-plus-circle"></i></span></h4>

							<!-- ADD icons -->
							<div id="" class="dropdown-menu relative" role="menu">
								<div class="media inline-block">
									<ul class="list-unstyled list-inline alter-media-list">

									<!-- MEDIA NOT VIBED GOES HERE -->
										<li><button type="button" class="re-vibe btn btn-success btn-circle-xs">V</button></li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-12">
					<span><img class="img-circle img-post-user" src="http://graph.facebook.com/{{this.from.id}}/picture?type=large" alt=""><span class="post-author">{{this.from.name}}</span></span>
				</div>
				<div class="col-sm-4 col-xs-12 date inline-block">
					{{this.updated_time}}
				</div>
			</div>


			<!-- Main Post Content -->
			<div class="post-content">
				<p class="post-text">{{this.message}}</p>
			</div>
			<div class="page-header"></div>
			<h5 class="">Comments</h5>

			{{#if this.comments}}
				{{#each comments.data}}
					<div class="page-header"></div>
					<span>
						<strong>{{this.from.name}}</strong>
						<img class="img-circle img-post-user" src="http://graph.facebook.com/{{this.from.id}}/picture?type=large" alt="">
					</span>
					<p>{{this.message}}</p>
				{{/each}}
			{{/if}}

		</div>
	{{/each}}