doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title SocialVibe
		link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
		//- link(rel="stylesheet" type="text/css" href="/main.css")
		link(rel="stylesheet" type="text/css" href="/profile.css")

	body
		block content

		//- JavaScript Files
		script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
		script(src="/scripts/feed.js")
		//- script(src="/main.js")
		//- script(src="/login.js")
		//- script(src="/admin.js")