
/*Place large button in the center of the window*/
.large-button {
	height: 200px;
	width: 200px;
	display: block;
	margin: auto;
}

/*Forces popUps to appear in the center*/
.popUp {
	position: fixed;
}