/* ADD YOUR STYLES HERE */



/*HORIZONTAL SPACING*/

/*Align children of container of images to the center*/
.horizontal-space {
	margin: auto;
	text-align: center;

}



/*Align the FIRST LEVEL children of the container to the top*/
.horizontal-space > * {
	padding: 25px;
	display: inline-block;
	vertical-align: top;
}







/*VERTICAL SPACING*/

/*Align the children ofcontainer of images to the left*/
.vertical-space {
	width: 100%;
	text-align: left;
}

/*Align images of the container in the center of the container*/
.vertical-space img {
	padding: 10% 0 10% 0;

}





/*HORIZONTAL LIST*/

/*Tell the list to remove list circles and center it vertically*/
.horizontal-list {
	padding: 0;
	list-style: none
}

/*Move the list items to be next to each other*/
.horizontal-list li {
	float: left;
}






/*BUTTONS*/


/*Give each button a color and rounded edges*/
.buttons {
	background: #FA8794;
	color: #FFF;
	text-decoration: none;
	padding: 1em 2em;
	border-radius: 5px;
	display: inline-block;
	border: none;
}


/*Make a larger button*/
.large {
	font-size: 1.3em;
}

/*Make a medium button*/
.medium {
	font-size: .8em;
}


/*Make a small button*/
.small {
	font-size: .5em;
	padding: 1em;
}






/*NAVIGATION*/



/*Gives All navigatrion a color and rounded edges*/
.navigation {
	float: left;
	background: #FA8794;
	border-radius: 5px;
}

/*Force text changes in the navigation anchors*/
.navigation a {
	text-decoration: none;
	color: #FFF;
}


/*Remove unordered list defaults*/
.navigation ul {
	list-style-type: none;
	padding: 0
}


/*Space navigation elements horizontally*/
.navigation li {
	display: inline-block;
	padding: .5em 2em;
}

/*Change navigation element color during hover*/
.navigation li:hover {
	background: #AAF;
}

/*Ensure correct border radius for left nav element*/
.navigation li:first-child {
	border-radius: 5px 0 0 5px;
}

/*Ensure correct border radius for right nav element*/
.navigation li:last-child {
	border-radius:  0 5px 5px 0;
}



/*PAGINATION*/


/*Give containing element basic color and remove padding*/
.pagination {
	color: #FA8794;
	list-style-type: none;
	padding: 0;
	width: 100%;
	position: absolute;
}

/*Move each page number to horizontal with a bottom border and space*/
.pagination li {
	display: inline-block;
	margin: 0 .4em;
	padding: 0 .2em;
	border-bottom: 3px solid #FA8794;
	overflow: hidden;
}

/*Remove link decoration of anchored elements*/
.pagination a, .pagination span {
	text-decoration: none;
	display: block;
	padding: .2em .25em;
	color: #FA8794;
}

/*Remove bottom-border from page advance/back buttons*/
.pagination li:first-child, .pagination li:last-child{
	border-bottom-color: white;
	padding: 0;
}

/*Turn the current page number border a different color*/
.pagination .pagination-selected {
	color: #AAA;
	border-bottom-color: #AAA;
}

/*Turn the current page number border a different color*/
.pagination-selected span {
	color: #AAA;
	text-decoration: none;
	display: block;
	padding: .2em .25em;
}






/*COMMENT STREAM*/


/*Make each comment container move below each other*/
.comment-stream {
	clear: both;
}


/*Move image to the left of the comment container*/
.comment-stream-img {
	margin: 10px 10px 0 0;
	float: left;
}

/*Prevent text-wrapping for the comment description*/
.comment-stream-comment {
	overflow: hidden;
}




/*TABS*/

/*Get rid of unordered list defaults*/
.tab {
	list-style-type: none;
	padding: 0;
}


/*Give each tab container a border and display in a line*/
.tab li {
	display: inline-block;
	margin: .25em 0 0 .5em;

	padding: .4em .5em;

	border: 1px solid #AAF;
	border-radius: 5px 5px 0 0;

	/*Move rendering down to cover line of tab-description*/
	position: relative;
	top: 1px;
}

/*Alter text in each tab*/
.tab a {
	text-decoration: none;
	font-weight: bold;
	color: #00F;
}


/*Change border for selected tab*/
.tab .tab-selected {
	border-bottom: 1px solid #FFF;
}


/*Giv tab description a border*/
.tab-description {
	padding: .5em;
	border: 1px solid #AAF;
	border-radius: 5px;
}